html {
  color: #030303;
  font: caption;
  padding-bottom: 2em;
}

a {
  color: #1f4ba0;
}

a:hover {
  text-decoration: none !important;
}

header {
  padding: 2em;
}

header .logo {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

footer {
  margin: 4em auto;
  padding: 2em;
  text-align: center;
  max-width: 800px;
  width: 100%;
}

footer p {
  line-height: 1.2em;
  margin: 0 0 1em 0;
}

.login-page, .signup-page {
  max-width: 35%;
  margin: auto;
}

.signup-link {
  color: #333;
}

.signup-link:hover {
  color: #333;
}

.post-img {
  max-height: 32px !important;
  max-width: 32px !important;
  margin-right: 8px;
}

.post-description {
  display: flex;
}

.post-container {
  width: 100%;
  color: #444444;
  padding: 16px;
  background-color: #FFFFFF;
}

.post-container:hover {
  background-color: #F0F0F0;
}

.post-title {
  font-weight: bold;
  flex: 1;
}

.not-found {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  text-align: center;
  width: 100%;
}

.not-found h1 {
  font-size: 3em;
  font-weight: bold;
}

.not-found h2 {
  font-size: 2em;
  font-weight: bold;
}

.hero-img-container {
  margin: auto;
  max-height: 600px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 16px;
}

.hero-img {
  width: 100%;
  height: auto;
}

.post-list {
  max-width: 600px;
  margin: auto;
}

.list-group-item {
  padding: 0 !important;
}

.home-page {
  background-color: #F0F0F0;
}

.app-container {
  background-color: #F0F0F0;
}

.post-img {
  width: 16px;
  height: 16px;
  margin-left: 16px;
  margin-right: 0;
  opacity: 0.5;
}

.post-info {
  width: 100%;
  text-decoration: none;
}

.post-header {
  display: flex;
}

.toggle-comments {
  display: block;
  width: 100%;
  height: 20px;
  border-style: none;
  outline: none;
}

.expand-comments {
  background-color: #FFFFFF;
}

.expand-comments:hover {
  background-color: #F0F0F0;
}

.collapse-comments {
  background-color: #F0F0F0;
}

.collapsed-comments:hover {
  background-color: #FFFFFF;
}

.comments-section {
  width: 100%;
  height: 100%;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 16px;
  background-color: #F0F0F0;
  display: inline-block;
}

.expand-icon {
  width: 16px;
  height: 16px;
}

.transparent-button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    text-align: left;
    width: 100%;
}

.comment {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
}

.comment-author {
  font-size: 14px;
  margin: 0;
  display: inline-block;
  font-weight: bold;
}

.more-comments {
  font-size: 14px;
  margin: 0;
  display: inline-block;
  font-weight: bold;
}

.more-comments-link {
    margin-left: 16px;
}

.shift-right {
    margin-left: 16px;
}
